*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: #87CEEB;
}
.container{
    background: #d5d5d5;
    max-width: 100rem;
    margin: 8rem auto;
    height: 150rem;
    padding: 2rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
.header{
    text-align: center;
}
.header h1{
    margin-bottom: 10px;
}
.header h3{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}
.img-area{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove #4fa4c5;
    width: 40rem;
    height: 40rem;
    object-fit: cover;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 1;
    padding: 30px;
}
.left p{
    line-height: 2;
}
.left ul li{
    line-height: 2;
}
h2{
    background: #6694a7;
    padding: 15px ;
    color: #FFFFFF;
    margin: 30px 0;
    font-size: 20px;
    border-radius: 0 50px 50px 0;
}
.right{
    flex: 1;
    padding: 30px;
}
.right h3{
    margin-bottom: 15px;
}
.right p{
    line-height: 2.9;
}
.right ul li{
    line-height: 2;
}

@media only screeen and(max-width: 768px) and (max-width: 991px){
    .container{
        width: 95%;
    }
    h2{
        font-size: 18px;
    }
}
@media screen and (max-width: 600px){
    .main{
        flex-direction: column;
    }
    .left, .right{
        flex: none;
        width: 100%;
    }
    .container{
        width: 95%;
        height: auto;
    }
    h2{
        font-size: 15px;
    }
}